<!-- <form action="/users/<%= @user.id %>" method="post"> -->
<%= form_tag "/users/#{@user.id}", method: :patch %>
	<div class="survey">
		<p>1. Do you get excited every time Pumpkin Spice Latte comes in season?</p>
		<%= image_tag "PSL01.jpg", :class => "survey_img" %><br>
		<input type="radio" name="survey[Q1]" value="YES" required >YES</input><br>
		<input type="radio" name="survey[Q1]" value="NO" required >NO</input>
		<br><br>
		<p>2. Have you owned a pair of Uggs before?</p>
		<%= image_tag "uggs.jpg", :class => "survey_img"%><br>
		<input type="radio" name="survey[Q2]" value="YES" required >YES</input><br>
		<input type="radio" name="survey[Q2]" value="NO" required >NO</input>
		<br><br>
		<p>3. Do you own this fleece?</p>
		<%= image_tag "north_face.png", :class => "survey_img" %><br>
		<input type="radio" name="survey[Q3]" value="YES" required >YES</input><br>
		<input type="radio" name="survey[Q3]" value="NO" required >NO</input>
		<br><br>
		<p>4. Do you say "I can't.." or "I literally can't even.." like it's second nature?</p>
		<img src="https://33.media.tumblr.com/8985900e6d36c155d910a0b3d903cc6d/tumblr_ndyihrA7fz1tiz272o3_500.gif" alt=""><br>
		<input type="radio" name="survey[Q4]" value="YES" required >YES</input><br>
		<input type="radio" name="survey[Q4]" value="NO" required >NO</input>
		<br><br>
		<p>5. Do you wear yoga pants anywhere other than yoga?</p>
		<%= image_tag "yoga_pants.jpg", :class => "survey_img" %><br>
		<input type="radio" name="survey[Q5]" value="YES" required >YES</input><br>
		<input type="radio" name="survey[Q5]" value="NO" required >NO</input>
		<br><br>
		<p>6. Is there a picture of you and your best friend in a frame that says "friends"?</p>
		<%= image_tag "friends_frame.jpg", :class => "survey_img" %><br>
		<input type="radio" name="survey[Q6]" value="YES" required >YES</input><br>
		<input type="radio" name="survey[Q6]" value="NO" required >NO</input>
		<br><br>
		<p>7. Are your workout clothes neon?</p>
		<%= image_tag "neon_workout.jpg", :class => "survey_img" %><br>
		<input type="radio" name="survey[Q7]" value="YES" required >YES</input><br>
		<input type="radio" name="survey[Q7]" value="NO" required >NO</input>
		<br><br>
		<p>8. Do you carefully select and share #tbt photos?</p>
		<%= image_tag "tbt.jpg", :class => "survey_img" %><br>
		<input type="radio" name="survey[Q8]" value="YES" required >YES</input><br>
		<input type="radio" name="survey[Q8]" value="NO" required >NO</input>
		<br><br>
		<p>9. Do you Instagram a photo of your coffee cup because the Starbucks barista misspelled your name?</p>
			<a href="http://starbucksspelling.tumblr.com/"><i><b>more examples here</b></i></a>
		<br>
		<%= image_tag "misspelled_starbucks.jpg", :class => "survey_img" %><br>
		<input type="radio" name="survey[Q9]" value="YES" required >YES</input><br>
		<input type="radio" name="survey[Q9]" value="NO" required >NO</input>
		<br><br>
		<p>10. Do you overuse acronyms when having a conversation?</p>
		<%= image_tag "lol_omg_wtf.jpg", :class => "survey_img" %><br>
		<input type="radio" name="survey[Q10]" value="YES" required >YES</input><br>
		<input type="radio" name="survey[Q10]" value="NO" required >NO</input>
		<br><br>
		<p>11. Have you ever taken a 'hot dogs or legs' picture?</p>
		<%= image_tag "hotdogs_or_legs.jpg", :class => "survey_img" %><br>
		<input type="radio" name="survey[Q11]" value="YES" required >YES</input><br>
		<input type="radio" name="survey[Q11]" value="NO" required >NO</input>
		<br><br>
		<p>12. Do you look for inspirational quotes with a dramatic background image and share it online?</p>
		<%= image_tag "inspirational_quote.jpg", :class => "survey_img" %><br>
		<input type="radio" name="survey[Q12]" value="YES" required >YES</input><br>
		<input type="radio" name="survey[Q12]" value="NO" required >NO</input>
		<br><br>
		<p>13. Are there photos of you posing with a duckface?</p>
		<%= image_tag "duckface.jpg", :class => "survey_img" %><br>
		<input type="radio" name="survey[Q13]" value="YES" required >YES</input><br>
		<input type="radio" name="survey[Q13]" value="NO" required >NO</input>
		<br><br>
		<p>14. Have you ever had a celebrity crush on one of these guys?</p>
		<%= image_tag "celeb_crush.jpg", :class => "survey_img" %><br>
		<input type="radio" name="survey[Q14]" value="YES" required >YES</input><br>
		<input type="radio" name="survey[Q14]" value="NO" required >NO</input>
		<br><br>
		<p>15. Do you Instagram photos of your hands with trendy nail polish and dainty rings all over your fingers?</p>
		<%= image_tag "dainty_nails.jpg", :class => "survey_img" %><br>
		<input type="radio" name="survey[Q15]" value="YES" required >YES</input><br>
		<input type="radio" name="survey[Q15]" value="NO" required >NO</input>
		<br><br>
		<p>16. Do you take more selfies than you can count?</p>
		<%= image_tag "selfie.jpg", :class => "survey_img" %><br>
		<input type="radio" name="survey[Q16]" value="YES" required >YES</input><br>
		<input type="radio" name="survey[Q16]" value="NO" required >NO</input>

		<br><br><br>
		<input type="submit" value="SUBMIT" id="survey-submit">
	</div>
</form>

<br>
<br>
<br>
