<!DOCTYPE html>
<html>
<head>
  <title>Basic</title>
  
  <script type="text/template" id="user-table-template">
      <thead>
        <tr>
          <th>Rank</th>
          <th>Avatar</th>
          <th>Instagram Account</th>
          <th>Total Score</th>
        </tr>
      </thead>
    <%% collection.each(function(user, index){  %>
      <tr>
        <td>
          <%%= index + 1 %>
        </td>
        <td>
          <img src="<%%= user.get('instagram_profile_picture')  %>" class="scoreboard_profile_img">
        </td>
        <td>
          <a href="http://instagram.com/<%%= user.get('instagram_account') %>" target="_blank"><%%= user.get('instagram_account') %></a>
        </td>
        <td>
          <%%= user.get('total_score')%>
        </td>
      </tr>
    <%% }) %>
  </script>


  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav>
		<%= render partial: current_user ? "/shared/user_nav" : "/shared/non_user_nav" %>
	</nav>

<%= yield %>








<script type="text/template" id="user-profile-template">
	<h1><%%= username %></h1>
	<h1><%%= instagram_account %></h1>
	<img src="<%%= instagram_profile_picture  %>">
	<p>TOTAL SCORE: <%%= total_score %></p>
</script>


<script type="text/template" id="new-user-view-template">
	<form action="#">
		<input type="text" name="name" placeholder="Name" />
		<input type="password" name="password" placeholder="Password" />
		<input type="text" name="instagram_account" placeholder="Instagram Account" />
		<input type="submit" />
	</form>
</script>

</body>
</html>
