<!DOCTYPE html>
<html>
<head>
  <title>Basic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav>
		<%= render partial: current_user ? "/shared/user_nav" : "/shared/non_user_nav" %>
	</nav>

<%= yield %>

</body>
</html>
